@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-primary: #03c988;
  --color-secondary: #f6d860;
  --color-accent: #bbb;
  --color-neutral: #fff;
  --color-base-100: #1f1f1f;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #0e0c15;
  color: #fff;
}
