@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-primary: #03C988;
  --color-secondary: #f6d860;
  --color-accent: #bbb;
  --color-neutral: #fff;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #1f1f1f;
}
